*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center; color: white; font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
}
body{
    background-color: rgb(212, 200, 179);
}
.container{
    /* border: 3px solid blue; */
    margin-top: 25px;
  
}
.content{
    display: flex;
    border: 5px solid #fff;
    background-color: #01264a;
    max-width: 900px;
    margin: auto;
    align-items: center;
    text-align: center;
    color: #fff;
    border-radius: 15px;

    
}
.content .para{
    flex-basis: 60%;
    padding: 15px;
   
    
}
.content .images{
    flex-basis: 40%;
}
.content .images img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}
.content .para h3{
    letter-spacing: 3px;
    
}
.content .para h1{
    margin-top: 10px;
    margin-bottom: 8px;
}
.content .para p{
    margin-bottom: 15px;
}
.socia {
    margin-top: 26px;
}
.socia a{
    font-size: 36px;
    margin: 5px;
    color: #fff;
}
.aboutcont{
     display: flex;
     box-shadow: 3px 2px 6px rgb(0, 0, 0);
    border: 1px solid #fff;
    background-color: #eff1f3;
    max-width: 900px;
    margin: auto;
    /* align-items: center; */
    text-align: center;
    /* color: #fff; */
    border-radius: 15px;
     align-items: center;
}
.aboutme{
    max-width: 60%;
    text-align: left;
    padding: 15px;
}
.aboutme h2{
    line-height: 50px;
    color: #01264a;
}
.aboutme h3{
    color: orangered;
    font-size: 35px;
    font-weight: bold;
}
.aboutimg {
    /* max-width: 200px; */
    flex-basis: 40%;
   
}
.aboutimg img{
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.skillcont{
     display: flex;
      box-shadow: 0 2px 8px rgba(3, 33, 64, 0.2);
     /* box-shadow: 3px 2px 6px rgb(0, 0, 0); */
    border: 1px solid #fff;
    background-color: #eff1f3;
    max-width: 900px;
    margin: auto;
    /* align-items: center; */
    text-align: center;
    /* color: #fff; */
    border-radius: 15px;
     align-items: center;
}
.myskill{
    flex-basis: 50%;
    /* border: 2px solid red; */
    /* height: 300px; */
    text-align: left;
    margin: 5px 5px 5px 0px;
    
}
.skillimg{
    flex-basis: 50%;
    /* border: 2px solid red;   */
}
.skillimg img{
    width: 100%;
    border-radius: 15px;
}
.icon li{
    list-style-type: none;
    color: #01264a;
    padding: 10px  25px;
   margin-top: 10px;
    display: inline-block;
    background-color: rgba(3, 34, 34, 0.2);
    border-radius: 15px;
}
.icon{
    margin-top: 5px;
    margin-bottom: 5px;
}
.works{
      display: flex;
      
     /* box-shadow: 3px 2px 6px rgb(0, 0, 0); */
    /* border: 1px solid #fff; */
    /* background-color: #eff1f3; */
    max-width: 900px;
    margin: auto;
    /* align-items: center; */
    text-align: center;
    /* color: #fff; */
    border-radius: 15px;
     align-items: center;
     justify-content: space-between;
}
.Mywork{
     flex-basis: 32%;
      box-shadow: 0 2px 8px rgba(3, 33, 64, 0.2);
    /* border: 2px solid red; */
    /* height: 300px; */
    text-align: left;
   padding: 15px;
   border-radius: 15px;
    background-color: rgba(255, 69, 0, 0.5);
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
   transition: transform 0.5s;
}
.Mywork:hover{
    transform: scale(1.02);
     box-shadow: 0 4px 16px rgba(41, 39, 41, 0.15);
}
.Mywork h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 35px;
}
.Mywork h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#eff1f3;
}
.contentntme{
    flex-basis: 50%;

    
}
.contentntme ul{
    list-style-type: none;
    /* border: 2px solid red; */
    font-size: 20px;
  
}
.contentntme ul> li{
    margin-left: 0px;
    margin: 5px;
    /* border: 2px solid green; */
    text-align: left;
    margin-top: 15px;
}
a{
      text-decoration: none;
      
}
.massage{
    flex-basis: 50%;
     box-shadow: 0 2px 8px rgba(3, 33, 64, 0.2);
    /* border: 1px slateblue solid; */
}
.inputgroup{
    /* border: 1px darkblue solid; */
    display: flex;
    justify-content: space-between;
     box-shadow: 0 2px 8px rgba(3, 33, 64, 0.2);
}
input{
    flex-basis: 48%;
    padding:  5px;
    border-radius: 5px;
    margin: 5px 0px;
    
}
textarea{
    border-radius: 5px;
}
#button{
    background-color: #01264a;
    border-radius: 5px;
    padding:5px 15px;
   display: block;
   margin-left: auto;
    color: #eff1f3;
}
.footer{
      display: flex;
     /* box-shadow: 3px 2px 6px rgb(0, 0, 0); */
    /* border: 1px solid #fff; */
    /* background-color: #eff1f3; */
    max-width: 900px;
    margin: auto;
    /* align-items: center; */
    text-align: center;
    /* color: #fff; */
    border-radius: 15px;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 35px;
     
}
.footer > div{
    flex-basis: 33%;
    /* border: 1px solid red; */
    box-shadow: 0 2px 8px rgba(237, 239, 240, 0.2);
    padding: 25px;
    background-color: rgba(218, 112, 214, 1);
    border-radius: 15px;
}
.footer > div > ul li{
    list-style-type: none;
}
.footer h2{
    color: #032140;
    font-weight: bold;
}

.Gototop{
    background-color:green;
    color: wheat;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 15px;
    background-color: aquamarine;
   position:fixed;
   bottom: 10px;
   right: 10px;
    border-radius: 15px;
    
 
    
    
}
.Gototop > a{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: orange;
}
@media ( max-width: 600px){
    .container{
        padding: 15px;
    }
    .aboutme{
        padding: 2px;
    }
   
    .content{
        flex-direction: column;
        padding: 10px;
    }
    .aboutcont{
        flex-direction: column;
       
       
    }
    .skillcont{
        flex-direction: column;
        padding: 15px;
    }
    .works{
        flex-direction: column;
    }
    
    .inputgroup{
        flex-direction: column;
        margin-top: 15px;
        /* border: 2px red solid; */
        width: 100%;
    }
    .massage{
        width: 100%;
    }
    #tx{
        width: 100%;
    }
    .footer{
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
        /* border:  1px solid red; */
        
      
    }
    .footer > div{
        /* border: 2px solid red; */
        width: 100%;
        margin-top: 5px;
    }
}